@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import './variables.scss';
@import './utils/mixins';
@import 'utils';
@import 'fonts';
@import 'typography';
@import './reset.scss';
@import './top-bar.scss';
@import './header.scss';
@import './slider.scss';
@import './who-we-are.scss';
@import './our-expertise.scss';
@import './process.scss';

body {
  background: $c-gray;
  font-family: 'Poppins', sans-serif;
  color: $color-white;
}

.main-container {
  @include responsive-grid;

  @include responsive-padding(
    $padding-default,
    $padding-tablet,
    $padding-small-desktop,
    $padding-screen-design,
    $padding-largest
  );
}
