.our-expertise {
  display: grid;
  grid-column: 1 / -1;
  color: $color-text;
  margin-top: 120px;

  &__item {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    justify-items: center;
    align-items: center;
  }

  &__title {
    font-weight: 600;
    font-size: 44px;
    line-height: 52.8px;
    text-align: center;
  }

  &__h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 28px;
    margin-top: 32px;
  }

  &__paragraph {
    font-family: 'Open Sans', sans-serif;
    color: $color-secondary;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-top: 16px;
  }

  &__image1 {
    background-image: url(../images/expert-1.png);
    background-size: cover;
    height: 166px;
    width: 166px;
    border-radius: 16px;
  }

  &__image2 {
    background-image: url(../images/expert-2.png);
    background-size: cover;
    height: 166px;
    width: 166px;
    border-radius: 16px;
  }

  &__image3 {
    background-image: url(../images/expert-3.png);
    background-size: cover;
    height: 166px;
    width: 166px;
    border-radius: 16px;
  }
}
