@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin responsive-padding($default, $tablet, $small-desktop, $screen-design, $largest) {
  padding-left: $default;
  padding-right: $default;

  @media (min-width: 640px) {
    padding-left: $tablet;
    padding-right: $tablet;
  }

  @media (min-width: 1024px) {
    padding-left: $small-desktop;
    padding-right: $small-desktop;
  }

  @media (min-width: 1280px) {
    padding-left: $screen-design;
    padding-right: $screen-design;
  }

  @media (min-width: 2560px) {
    padding-left: $largest;
    padding-right: $largest;
  }
}
